@import url('react-toastify/dist/ReactToastify.css');

@import url('./fonts/poppins.scss');
@import url('./fonts/sky.scss');
@import url('./fonts/tajawal.scss');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    direction: rtl;
    text-align: right;
}
@layer base {
    * {
        font-family: var(--font-family) !important;
    }

    .base-scroll {
        @apply overflow-auto scrollbar-thin scrollbar-track-primary-100 scrollbar-thumb-primary-300 dark:scrollbar-track-secondary-500 dark:scrollbar-thumb-secondary-700;
    }

    body {
        @apply base-scroll;
        text-align: right;
        direction: rtl;
    }
    /*   .section-container {
        padding: 4rem;
    } */

    .html-editor .ql-editor {
        direction: rtl;
        text-align: right;
    }
}

@layer components {
    .section-container {
        @apply container mx-auto p-4 xl:p-24;
    }
}
