@font-face {
    font-family: 'Tajawal';
    font-weight: 200;
    src: url('/fonts/tajawal/Tajawal-ExtraLight.ttf');
}

@font-face {
    font-family: 'Tajawal';
    font-weight: 300;
    src: url('/fonts/tajawal/Tajawal-Light.ttf');
}

@font-face {
    font-family: 'Tajawal';
    font-weight: 400;
    src: url('/fonts/tajawal/Tajawal-Regular.ttf');
}

@font-face {
    font-family: 'Tajawal';
    font-weight: 500;
    src: url('/fonts/tajawal/Tajawal-Medium.ttf');
}

/* @font-face {
	font-family: "Tajawal";
	font-weight: 600;
	src: url("/fonts/tajawal/Tajawal-SemiBold.ttf");
} */

@font-face {
    font-family: 'Tajawal';
    font-weight: 700;
    src: url('/fonts/tajawal/Tajawal-Bold.ttf');
}

@font-face {
    font-family: 'Tajawal';
    font-weight: 800;
    src: url('/fonts/tajawal/Tajawal-ExtraBold.ttf');
}

@font-face {
    font-family: 'Tajawal';
    font-weight: 900;
    src: url('/fonts/tajawal/Tajawal-Black.ttf');
}
